.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% * (1/4) - 10px - 1px);
    height: 14%;
    max-height: 200px;
    background-color: #2d2d2d;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
	transform-style: preserve-3d;
}
.card:hover {
    box-shadow: 0 2px 2px #B97019 ;
}
.card.shown {
    background-color: #FEFEFE;
    color: #453A6C;
    cursor: initial;
    transform: rotateY(180deg);
}
.card-text {
    font-size: 32px;
    font-weight: bold;
    color: #453A6C;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.card.shown .card-text {
    display: block;
}